/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/
.container{
  margin: 0 auto;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    padding-left: 10px;
    height:100%;
    width:auto;
}

.menu-size{
    font-size: 17px;
    font-family: "Brandon Text", Helvetica, Arial, sans-serif;

}

.task-button{
    color:white;
    background-color: #00b289;
    border-color: #00b289;
}

.module-heading{
    font-size: 19px;
    padding-top: 15px;
    padding-bottom:20px
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }
}

.vendorListHeading th {
    background-color: #1a4567 !important;
    color: white !important;   
}


.apd-form-error-msg{
    color: red;
    font-size: 12px;

}



td {
    text-align: center;
    width: auto !important;
}



.table td {
    padding: 0 0px;
}


.apd-table-td{
    word-wrap:break-word;
    max-width:160px; 
}

.apd-subm-attr-button {
    padding:5px;
    margin-top:3px;
    margin-bottom: 3px;
    margin-right: 3px;
    color: #fff;
    background-color: #00b289;
    border-color: #00b289;
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 22px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

 

#wrap {
    width: 1100px;
    margin: 0 auto;
}

#external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    text-align: left;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

.external-event { /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    background: #3366CC;
    color: #fff;
    font-size: .85em;
    cursor: pointer;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

#calendar {
    /* 		float: right; */
    margin: 0 auto;
    width: 900px;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 1px 2px #C3C3C3;
    -webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
}